body {
  background: url("./img/cloud-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  border-radius: 10px;
  background-color: rgba(58, 93, 165, 0.7);
  border: thin solid lightblue;
  width: 80%;
  margin: 5% auto;
  box-shadow: 2px 2px 3px 1px #aabadd;
}

img {
  margin-top: 0px;
}

h1 {
  text-align: center;
  font-size: 18px;
  color: white;
  margin-bottom: 0px;
}
.highTemp {
  font-size: 14px;
  color: #153278;
  padding: 0px 5px;
}
.lowTemp {
  font-size: 14px;
  color: lightgray;
  padding: 0px 5px;
}

.cardWrapper {
  width: 100px;
  height: 200px;
  border-radius: 5px;
  margin: 0px auto;
}

#temp {
  text-align: center;
}
